.backgroundImg {
    background-image: url(/img/loginBG.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(125,129,129,0.5)
}

.sign-in {
    text-align: center;
    color: white;
    height: 55px;
    font-size: 25px;
}

.sign-up {
    text-align: center;
    color: white;
    height: 43px;
    font-size: 25px;
}

